/* line 5, ../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 106, ../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 11, ../sass/style.scss */
h1 {
  font-size: 4em;
  line-height: 1.125em;
  margin-bottom: 0.12766em;
  margin-top: 0.1875em;
}

/* line 16, ../sass/style.scss */
h2 {
  font-size: 1.5em;
  line-height: 1.5em;
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}

/* line 20, ../sass/style.scss */
h3 {
  font-size: 1.25em;
  line-height: 1.2em;
}

/* line 23, ../sass/style.scss */
p {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* line 29, ../sass/style.scss */
body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* line 36, ../sass/style.scss */
.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  min-height: 100%;
}
/* line 42, ../sass/style.scss */
.wrapper .left {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  background: white;
  padding: 3rem;
  max-width: 50%;
}
/* line 56, ../sass/style.scss */
.wrapper .left ul li:nth-child(even) {
  width: 50%;
  text-align: right;
  position: relative;
  border-right: 1px solid black;
}
/* line 61, ../sass/style.scss */
.wrapper .left ul li:nth-child(even):after {
  content: '';
  width: 22px;
  height: 1px;
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
}
/* line 71, ../sass/style.scss */
.wrapper .left ul li:nth-child(even) h4.timeline-header {
  font-family: operetta-12, serif;
  font-weight: 600;
  font-style: normal;
  padding-right: 2rem;
}
/* line 77, ../sass/style.scss */
.wrapper .left ul li:nth-child(even) p.timeline-expanation {
  font-family: operetta-12, serif;
  font-weight: 200;
  font-style: normal;
  margin-top: 0.375em;
  margin-bottom: 0;
  padding-right: 2rem;
}
/* line 87, ../sass/style.scss */
.wrapper .left ul li:nth-child(odd) {
  margin-left: 50%;
  padding-left: 2rem;
  border-left: 1px solid black;
  position: relative;
}
/* line 92, ../sass/style.scss */
.wrapper .left ul li:nth-child(odd):before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 22px;
  height: 1px;
  background: black;
}
/* line 101, ../sass/style.scss */
.wrapper .left ul li:nth-child(odd) h4.timeline-header {
  font-family: operetta-12, serif;
  font-weight: 600;
  font-style: normal;
}
/* line 106, ../sass/style.scss */
.wrapper .left ul li:nth-child(odd) p.timeline-expanation {
  font-family: operetta-12, serif;
  font-weight: 200;
  font-style: normal;
  margin-top: 0.375em;
  margin-bottom: 0;
}
/* line 116, ../sass/style.scss */
.wrapper .left h3 {
  font-family: operetta-12, serif;
  font-weight: 200;
  font-style: normal;
  text-transform: uppercase;
  color: #9b9b9b;
  margin-top: 1.2em;
}
/* line 124, ../sass/style.scss */
.wrapper .left h1 {
  font-family: operetta-12, serif;
  font-weight: 800;
  font-style: normal;
  text-align: center;
}
/* line 130, ../sass/style.scss */
.wrapper .left p.sub-header {
  text-align: center;
  font-family: operetta-12, serif;
  font-weight: 400;
  font-style: normal;
  width: 80%;
}
/* line 140, ../sass/style.scss */
.wrapper .right {
  display: flex;
  flex-grow: 1;
  min-height: 100%;
  background: #bdbdbd;
}
/* line 146, ../sass/style.scss */
.wrapper .right .right-lead {
  text-align: center;
  font-family: operetta-12, serif;
  font-weight: 400;
  font-style: normal;
}
/* line 152, ../sass/style.scss */
.wrapper .right .rightSection1 {
  width: 100%;
}
/* line 154, ../sass/style.scss */
.wrapper .right .rightSection1 .searchForm {
  display: flex;
  width: calc(50% - 150px);
  position: fixed;
  margin: 2rem;
  z-index: 1000;
}
/* line 160, ../sass/style.scss */
.wrapper .right .rightSection1 .searchForm .searchField {
  flex-grow: 1;
  padding: .5rem;
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  color: black;
}
/* line 167, ../sass/style.scss */
.wrapper .right .rightSection1 .searchForm .searchField::placeholder {
  color: black;
}
/* line 170, ../sass/style.scss */
.wrapper .right .rightSection1 .searchForm .searchField:focus {
  outline: transparent;
}
/* line 174, ../sass/style.scss */
.wrapper .right .rightSection1 .searchForm .searchButton {
  width: 150px;
  background: #9b9b9b;
  color: white;
  border: none;
}
/* line 183, ../sass/style.scss */
.wrapper .rightMain {
  position: fixed;
  padding: 0 3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
